@import url("https://fonts.googleapis.com/css?family=Merienda+One");

html {
    background-image: url(./snowflakes_dark.svg);
    background-position: center;
    height: 100%;
    border-radius: none;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

button{
    width: 40vh;
    height: 5vw;
    margin: 2%;
    background-color: red;
    color: white;
    font-size: xx-large;
    border-color: white;

}

input {
    width: 39.2vh;

    height: 4.6vw;
    text-align: center;
    background-color: lime;
    color: black;
    font-size: xx-large;
    border-color: black;

}


